# coding: utf-8

{{>partial_header}}

from setuptools import setup, find_packages  # noqa: H301

NAME = "{{{projectName}}}"
VERSION = "{{packageVersion}}"
{{#apiInfo}}
{{#apis}}
{{^hasMore}}
# To install the library, run the following
#
# python setup.py install
#
# prerequisite: setuptools
# http://pypi.python.org/pypi/setuptools

REQUIRES = ["urllib3 >= 1.15", "six >= 1.10", "certifi", "python-dateutil"]
{{#asyncio}}
REQUIRES.append("aiohttp")
{{/asyncio}}
{{#tornado}}
REQUIRES.append("tornado")
{{/tornado}}

setup(
    name=NAME,
    version=VERSION,
    description="Python language bindings for managing OneFS clusters.",
    maintainer="{{appName}}",
    maintainer_email="{{infoEmail}}",
    author="{{appName}}",
    author_email="{{infoEmail}}",
    url="https://github.com/Isilon/isilon_sdk_python",
    keywords=["Swagger", "{{appName}}", "OneFS", "PowerScale"],
    install_requires=REQUIRES,
    packages=find_packages(),
    include_package_data=True,
    long_description="""\
{{appDescription}}
""".replace('PKG_NAME', NAME.replace('-', '_')),
    project_urls={
        "Source code": "https://github.com/Isilon/isilon_sdk",
        "Documentation": "https://github.com/Isilon/isilon_sdk_python",
    },
    license='MIT',
    classifiers = [
        "License :: OSI Approved :: MIT License",
        "Programming Language :: Python :: 2.7",
        "Programming Language :: Python :: 3"
    ],
    python_requires='>=2.7',
)
{{/hasMore}}
{{/apis}}
{{/apiInfo}}
